#cards {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;

  overflow-x: hidden;
  overflow-x: scroll;
  white-space:nowrap;
  max-height: fit-content;
  padding-bottom: 1.2em;
  margin: 2rem 1rem 2rem 1rem;
}

#cards::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#cards::-webkit-scrollbar
{
	width: 4px;
  height: 10px;
	background-color: #F5F5F5;
}

#cards::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.3);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  position: relative;

  height: 300px;
  width: 200px;
  font-size: 0.75rem;
}

.card-thumbnail-container {
  height: 250px;
  width: 200px;
  overflow: hidden;
  border-radius: 0.3em;
}

.card-thumbnail{
  object-fit: cover;
}

.card-status {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  background-color: white;
  border: 1px solid black;
  font-size: 0.75em;
  padding: 0.2em;
}

.card-rating {
  display: flex;
  gap: 0.3em;
  margin-top: 0.5em;
}

.card-rating>span:nth-last-of-type(-n + 3) {
  color: gray;
}

.card-rating>img {
  width: 1em;
}

.card-pricing>span {
  font-weight: 500;
}